*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}
body{
    background-color: #EEEEEE;
}

h1{
    text-align: center;
    line-height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-self: center;
    top: 10px;
    font-size: 5rem;
    background-color: green;
}
p.par{
    position: relative;
    text-align: center;
    font-size: 3rem;
    color:rgb(243, 243, 136);
    background-color: #222222;
    align-items:center;
    vertical-align: middle;
    height: 20vh;
    border: 2px solid green;
    border-radius: 50%;
}
a{
    display: block;
    border: 3px solid gray;
    color:transparent;
    border-radius: 20%;
    text-decoration: none;
    transition: transform 0.1s ease-in-out;
    -webkit-text-stroke: 1px #EEEEEE;
    font-size: 3rem;
    letter-spacing: 10px;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background-color: #222222;
}
.login{
background-color: #222222;
color:#EEEEEE;
min-width:100vw;
min-height: 100vh;
position:relative;
display: flex;
align-items: center;


}
.yasser_login{
    position: relative;
    background-color:transparent;
    width: 50%;
    height: 65dvh;
    left: 25%;
    box-shadow: 0 2rem 2rem #EEEEEE;
                
   

}
.yasser_login input[type="text"],[type="password"],[type="submit"] {
width:100%;
height: 10dvh; 
cursor: pointer;
font-size: 3rem;
margin-bottom: .4svh;

}
.yasser_login form{
    text-align: center;
    font-size: 1.5rem;
    box-shadow: 0 0.25rem 2rem black;
}
.yasser_login legend{
    color: transparent;
    font-size: 3rem;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: none;
    pointer-events: none;
    -webkit-text-stroke: 1px gray;


}
.yasser_login form label{
    display: block;
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 9px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(232, 226, 238);
    width: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

}

